<div class="container">
    <button 
        class="btn btn-primary fs-1 mag pad"
        (click)="increase()"
        >
        Increase
    </button>
    <button 
        class="btn btn-success fs-1 mag pad"
        (click)="decrease()"
        [disabled]="disabledButton$ | async"
        >
        Decrease
    </button>
    <button 
        class="btn btn-danger fs-1 mag pad"
        (click)="clear()"
        [disabled]="disabledButton$ | async"
        >
        Clear
    </button>
    <p class="fs-1">
      <!-- Для работы с Observable используем async -->
        Counter = {{ count$ | async }}
    </p>
    <p 
        class="fs-1"
        *ngIf="updateDate$ | async"
        >
        Update: {{ updateDate$ | async | date:"HH:mm:ss dd/MM/yyyy" }}
    </p>
</div>