<div class="container">
    <button 
        class="btn btn-primary fs-1 mag pad"
        (click)="increase()"
        >
        Increase
    </button>
    <button 
        class="btn btn-success fs-1 mag pad"
        (click)="decrease()"
        [disabled]="disabledButton"
        >
        Decrease
    </button>
    <button 
        class="btn btn-danger fs-1 mag pad"
        (click)="clear()"
        [disabled]="disabledButton"
        >
        Clear
    </button>
    <p class="fs-1">
        Counter = {{ counter }}
    </p>
    <p 
        class="fs-1"
        *ngIf="updateDate"
        >
        Update: {{ updateDate | date:"HH:mm:ss dd/MM/yyyy" }}
    </p>
</div>
